<div class="wrap-categories">
	<div class="container">
		<div class="categories">
			<div class="row">
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Онлайн услуги</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Дизайн</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Тексты и копирайтинг</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Веб разработка</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Программирование</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Поиск и обработка информации</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">SMM</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Интернет реклама</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Холодные звонки</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Модератор</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">События и праздники</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Ведущий</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Диджей и оборудование</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Кондитер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Фотограф</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Видеооператор</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Праздничное оформление и декор</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Шоу, артисты и Дед Мороз</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Аквагрим</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Проведение мастер-классов</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Бытовая помощь</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Уборка квартиры, офиса</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Помощь по дому</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Пошив и ремонт одежды</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Приготовление пищи</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Чистка ковров и мебели</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Уход за животными</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Сиделка</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Няня</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Медсестра</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Красота и здоровье</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Визажист</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Стилист</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Парикмахер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Маникюр и педикюр</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Массажист</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Персональный тренер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Диетолог</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Частный врач</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Юридическая помощь</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Консультации юриста</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Представительство в суде</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Оформление документации</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Услуги для юр. лиц</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Бухгалтерские услуги</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Транспорт</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Грузчики</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Перевозка пассажиров</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Перевозка грузов</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Манипулятор</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Ремонт автотранспорта</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Курьерские услуги</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Пеший курьер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Курьер на авто</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Купить и доставить</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Доставка продуктов</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Монтаж и ремонт<br/>оборудования</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Ремонт компьютеров, оргтехники</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Подключение и ремонт бытовой техники</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Ремонт планшетов, телефонов</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Промоакции</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Промоутер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Лифлетер (раздача листовок)</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Распространение листовок</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Модели, промо-модели</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Ростовые куклы и аниматоры</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Мерчендайзер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Супервайзер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Тайный покупатель, аудитор</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Интревьюер (анкетирование)</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Бармены и официанты</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Фасовка и стикеровка</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Разнорабочий</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Монтаж рекламных конструкций</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Домашний ремонт</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Плотник</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Плиточник</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Маляр</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Столяр</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Штукатур</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Мастер на час</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Ремонт под ключ</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Электрик</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Сантехник</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Сборка мебели</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Кровельные и фасадные работы</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="category-item">
						<div class="category_title">Репетиторство<br/>и консультирование</div>
						<div class="subcategories">
							<ul class="subcategory_list">
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Переводчик</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Репетитор иностранных языков</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Репетитор начальной школы</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Репетитор старшей школы</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Логопед</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Музыка</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link subcategory__link">Спортивный тренер</a>
								</li>
								<li class="subcategory_item">
									<a href="#" class="default-link btn_all-items">Все по этой категории</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>