//main color
$colorWhite: #fff;
$colorLightestGreen: #EDF8F5;
$colorLightGreen: #34BFA2;
$colorDarkGreen: #032720;
$colorLightestGray: #F5F5F5;
$colorLightGray: #EBEBEB;
$colorDarkGray: #D6D6D6;
$colorOrange: #FFAA4D;
$colorBlack: #242424;

//hover color
$hoverColorOrange: #FF941F;
$hoverColorLightGreen: #2BA188;

//border-color
$borderColorDarkGreen: #032720;
$borderColorLightestGray: #EDEDED;
$borderColorLightestGreen: #5DCCB5;;

//background-color
$bgColorLightOrange: #FFF6EB;
$bgColorGray: #FAFAFA;
$bgColorLightestGreen: #EDF8F5;
$bgColorLightGreen: #E6F6F2;;

//font color
$fontColorBlack: #242424;
$fontColorGray: #999999;
$fontColorLightestGray: #C1C1C1;
$fontColorDarkGreen: #032720;
$fontColorLightGreen: #34BFA2;
$fontColorLightestGreen: #C1F2E8;
$fontColorWhite: #fff;
$fontColorOrange: #FFAA4D;

//color placeholder
$fontPlaceholderColorGray: #828282;