<div class="wrap-teasers">
	<div class="container">
		<div class="teasers">
			<div class="block-title">
				Преимущества
			</div>
			<div class="subtitle">
				Станьте исполнителем и выполняйте интересные задания от заказчиков в удобное для вас время
			</div>
			<div class="teasers_list">
				<div class="row">
					<div class="col-3">
						<div class="teaser_item">
							<div class="teaser_img">
								<img src="img/home/teasers_adv_icon.svg" class="teaser__pic" alt="teasers_icon">
							</div>
							<div class="teaser__title">Преимущество 1</div>
							<p class="teaser__text">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="col-3">
						<div class="teaser_item">
							<div class="teaser_img">
								<img src="img/home/teasers_adv_icon.svg" class="teaser__pic" alt="teasers_icon">
							</div>
							<div class="teaser__title">Преимущество 2</div>
							<p class="teaser__text">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="col-3">
						<div class="teaser_item">
							<div class="teaser_img">
								<img src="img/home/teasers_adv_icon.svg" class="teaser__pic" alt="teasers_icon">
							</div>
							<div class="teaser__title">Преимущество 3</div>
							<p class="teaser__text">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
					<div class="col-3">
						<div class="teaser_item">
							<div class="teaser_img">
								<img src="img/home/teasers_adv_icon.svg" class="teaser__pic" alt="teasers_icon">
							</div>
							<div class="teaser__title">Преимущество 4</div>
							<p class="teaser__text">Lorem ipsum dolor sit amet, consectetur</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>