<div class="wrap_h2g">
	<div class="container">
		<div class="block-heading">
			<div class="block-title">Как получить заказ</div>
		</div>
		<div class="subtitle">
			На DeliDela исполнители сами выбирают заказы и клиентов. Это просто
		</div>
	</div>

		<div class="h2g_steps">
			<div class="container">
				<div class="row">
					<div class="offset-1 col-3">
						<div class="h2g_step">
							<div class="h2g_step_title">
								<span class="h2g_step__num">1</span>
								<span class="h2g_step__text">Заполните заявку</span>
							</div>
							<div class="h2g_step__desc">Мы быстро оповестим <br/>исполнителей DeliDela о <br/>вашей заявке.</div>
						</div>
					</div>
					<div class="offset-1 col-3">
						<div class="h2g_step">
							<div class="h2g_step_title">
								<span class="h2g_step__num">2</span>
								<span class="h2g_step__text">Получите предложения</span>
							</div>
							<div class="h2g_step__desc">Заинтересованные <br/>исполнители предложат <br/>вам свои услуги.</div>
						</div>
					</div>
					<div class="offset-1 col-3">
						<div class="h2g_step">
							<div class="h2g_step_title">
								<span class="h2g_step__num">3</span>
								<span class="h2g_step__text">Выберите исполнителя</span>
							</div>
							<div class="h2g_step__desc">Выберите подходящее для вас предложение по цене или рейтингу исполнителя.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h2g_avails">
			<div class="container">
			<div class="h2g_avail">
				<div class="row">
					<div class="col-6">
						<div class="h2g_img"></div>
					</div>
					<div class="col-6">
						<div class="h2g_avail__info">
							<div class="avail__title">Достойный заработок</div>
							<div class="avail__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
							</div>
							<div class="avail_review">
								<div class="user">
									<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
									<div class="user_info">
										<div class="box-username">
											<span class="user_name">Татьяна</span>
											<span class="services">Фото и видеоуслуги</span>
										</div>
										<div class="box-rating">
											<span class="user_like">
												<img src="img/executor_promo/like_icon.svg" alt="like_icon"/>
												<span class="like_num">6</span>
											</span>
											<span class="user_rating">
												<img src="img/executor_promo/rating_icon.svg" alt="rating_icon">
												<span class="average_rating">
													5.0 Средняя оценка (200 отзывов)
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="user__msg">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								</div>
							</div>
							<a href="#" class="btn-link btn-link__orange btn__state-executor">Начать зарабатывать</a>
						</div>
					</div>
				</div>
			</div>
			<div class="h2g_avail">
				<div class="row">
					<div class="col-6">
						<div class="h2g_img"></div>
					</div>
					<div class="col-6">
						<div class="h2g_avail__info">
							<div class="avail__title">Свободный график</div>
							<div class="avail__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
							</div>
							<div class="avail_review">
								<div class="user">
									<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
									<div class="user_info">
										<div class="box-username">
											<span class="user_name">Татьяна</span>
											<span class="services">Фото и видеоуслуги</span>
										</div>
										<div class="box-rating">
											<span class="user_like">
												<img src="img/executor_promo/like_icon.svg" alt="like_icon"/>
												<span class="like_num">6</span>
											</span>
											<span class="user_rating">
												<img src="img/executor_promo/rating_icon.svg" alt="rating_icon">
												<span class="average_rating">5.0</span> Средняя оценка (200 отзывов)
											</span>
										</div>
									</div>
								</div>
								<div class="user__msg">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								</div>
							</div>
							<a href="#" class="btn-link btn-link__orange btn__state-executor">Начать зарабатывать</a>
						</div>
					</div>
				</div>
			</div>
			<div class="h2g_avail">
				<div class="row">
					<div class="col-6">
						<div class="h2g_img"></div>
					</div>
					<div class="col-6">
						<div class="h2g_avail__info">
							<div class="avail__title">Безопасность сервиса</div>
							<div class="avail__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
							</div>
							<div class="avail_review">
								<div class="user">
									<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
									<div class="user_info">
										<div class="box-username">
											<span class="user_name">Татьяна</span>
											<span class="services">Фото и видеоуслуги</span>
										</div>
										<div class="box-rating">
											<span class="user_like">
												<img src="img/executor_promo/like_icon.svg" alt="like_icon"/>
												<span class="like_num">6</span>
											</span>
											<span class="user_rating">
												<img src="img/executor_promo/rating_icon.svg" alt="rating_icon">
												<span class="average_rating">
													5.0 Средняя оценка (200 отзывов)
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="user__msg">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								</div>
							</div>
							<a href="#" class="btn-link btn-link__orange btn__state-executor">Начать зарабатывать</a>
						</div>
					</div>
				</div>
			</div>
			<div class="h2g_avail">
				<div class="row">
					<div class="col-6">
						<div class="h2g_img"></div>
					</div>
					<div class="col-6">
						<div class="h2g_avail__info">
							<div class="avail__title">Экономия на рекламе</div>
							<div class="avail__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
							</div>
							<div class="avail_review">
								<div class="user">
									<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
									<div class="user_info">
										<div class="box-username">
											<span class="user_name">Татьяна</span>
											<span class="services">Фото и видеоуслуги</span>
										</div>
										<div class="box-rating">
											<span class="user_like">
												<img src="img/executor_promo/like_icon.svg" alt="like_icon"/>
												<span class="like_num">6</span>
											</span>
											<span class="user_rating">
												<img src="img/executor_promo/rating_icon.svg" alt="rating_icon">
												<span class="average_rating">
													5.0 Средняя оценка (200 отзывов)
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="user__msg">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								</div>
							</div>
							<a href="#" class="btn-link btn-link__orange btn__state-executor">Начать зарабатывать</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
</div>