<div class="wrap_partnership">
	<div class="partnership">
		<div class="container">
			<div class="block-title">
				Условия сотрудничества с DeliDela
			</div>
			<div class="subtitle">
				Сервис не берёт комиссию за выполненный заказ. Вы оплачиваете только отклики <br class="screen-desktop"/>к заданиям и сами выбираете клиентов.
			</div>
		</div>
		<div class="container">
			<div class="tariffs">
				<div class="row">
					<div class="col-4">
						<div class="tariff">
							<div class="tariff_img">
								<img src="img/executor_promo/partnership_icon_01.svg" class="tariff_icon" alt="tariff_icon"/>
							</div>
							<div class="tariff__title">Пробный доступ</div>
							<div class="tariff__text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							</div>
							<a href="#" class="btn-link btn-link__orange btn__choose-tariff">
								Выбрать тариф
							</a>
						</div>
					</div>
					<div class="col-4">
						<div class="tariff">
							<div class="tariff_img">
								<img src="img/executor_promo/partnership_icon_02.svg" class="tariff_icon" alt="tariff_icon"/>
							</div>
							<div class="tariff__title">Безлимитный тариф</div>
							<div class="tariff__text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							</div>
							<a href="#" class="btn-link btn-link__orange btn__choose-tariff">
								Выбрать тариф
							</a>
						</div>
					</div>
					<div class="col-4">
						<div class="tariff">
							<div class="tariff_img">
								<img src="img/executor_promo/partnership_icon_03.svg" class="tariff_icon" alt="tariff_icon"/>
							</div>
							<div class="tariff__title">Базовый тариф</div>
							<div class="tariff__text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							</div>
							<a href="#" class="btn-link btn-link__orange btn__choose-tariff">
								Выбрать тариф
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>