<div class="wrap_questions">
	<div class="questions">
		<div class="container">
			<div class="block-title">
				Часто задаваемые вопросы
			</div>
		</div>
		<div class="container">
			<div class="box_questions">
				<div class="question">
					<div class="btn-dropdown">
						<span class="btn-dropdown__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</span>
						<img src="img/executor_promo/arrow-dropdown.svg" alt="arrow-dropdown">
					</div>
					<div class="dropdown__container">
						some text
					</div>
				</div>
				<div class="question">
					<div class="btn-dropdown">
						<span class="btn-dropdown__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</span>
						<img src="img/executor_promo/arrow-dropdown.svg" alt="arrow-dropdown">
					</div>
					<div class="dropdown__container">
						some text
					</div>
				</div>
				<div class="question">
					<div class="btn-dropdown">
						<span class="btn-dropdown__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</span>
						<img src="img/executor_promo/arrow-dropdown.svg" alt="arrow-dropdown">
					</div>
					<div class="dropdown__container">
						some text
					</div>
				</div>
				<div class="question">
					<div class="btn-dropdown">
						<span class="btn-dropdown__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</span>
						<img src="img/executor_promo/arrow-dropdown.svg" alt="arrow-dropdown">
					</div>
					<div class="dropdown__container">
						some text
					</div>
				</div>
				<div class="question">
					<div class="btn-dropdown">
						<span class="btn-dropdown__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</span>
						<img src="img/executor_promo/arrow-dropdown.svg" alt="arrow-dropdown">
					</div>
					<div class="dropdown__container">
						some text
					</div>
				</div>
				<div class="question">
					<div class="btn-dropdown">
						<span class="btn-dropdown__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</span>
						<img src="img/executor_promo/arrow-dropdown.svg" alt="arrow-dropdown">
					</div>
					<div class="dropdown__container">
						some text
					</div>
				</div>
			</div>
		</div>
	</div>
</div>