<div class="wrap_start-blog">
	<div class="container">
		<div class="start-blog">
			<div class="row">
				<div class="col-4">
					<div class="start-blog_item start-blog_desc">
						<div class="block-title">
							Начните свою историю
						</div>
						<div class="start-blog_desc__text">
							Вдохновитесь успехами наших исполнителей. Читайте истории людей,которые каждый день используют сервис для подработки, находятновых клиентов и развивают свое дело вместе с нами.
						</div>
						<a href="#" class="btn-link btn_read-blog">Читать блог</a>
					</div>
				</div>
				<div class="col-4">
					<div class="wrap_blog_card">
						<a href="#" class="blog_card">
							<img class="blog_card_img screen-desktop" src="img/executor_promo/blog_01.png" alt="blog_01" />
							<img class="blog_card_img screen-mobile" src="img/executor_promo/blog_01_mobile.png" alt="blog_01" />
							<span class="blog_card__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</span>
						</a>
					</div>
				</div>
				<div class="col-4">
					<div class="wrap_blog_card">
						<a href="#" class="blog_card">
							<img class="blog_card_img" class="" src="img/executor_promo/blog_02.png" alt="blog_02" />
							<span class="blog_card__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>