<div class="wrap_stories">
	<div class="stories">
		<div class="container">
			<div class="block-title">
				Зарабатывайте и добивайтесь <br/>своих целей с DeliDela
			</div>
			<div class="subtitle">
				Наши исполнители делают это каждый день
			</div>
		</div>
		<div class="container">
			<div class="stories_box">
				<div class="story">
					<div class="row">
						<div class="col-6">
							<div class="story__img"></div>
						</div>
						<div class="col-6">
							<div class="story_desc">
								<div class="user">
									<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
									<div class="user_info">
										<div class="box-username">
											<div class="user_name">Татьяна</div>
											<div class="services">Фото и видеоуслуги</div>
										</div>
										<div class="box-rating">
											<span class="user_like">
												<img src="img/executor_promo/like_icon.svg" alt="like_icon"/>
												<span class="like_num">6</span>
											</span>
											<span class="user_rating">
												<img src="img/executor_promo/rating_icon.svg" alt="rating_icon">
												<span class="average_rating">
													5.0 Средняя оценка (200 отзывов)
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="story__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="story">
					<div class="row">
						<div class="col-6">
							<div class="story__img"></div>
						</div>
						<div class="col-6">
							<div class="story_desc">
								<div class="user">
									<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
									<div class="user_info">
										<div class="box-username">
											<div class="user_name">Татьяна</div>
											<div class="services">Фото и видеоуслуги</div>
										</div>
										<div class="box-rating">
											<span class="user_like">
												<img src="img/executor_promo/like_icon.svg" alt="like_icon"/>
												<span class="like_num">6</span>
											</span>
											<span class="user_rating">
												<img src="img/executor_promo/rating_icon.svg" alt="rating_icon">
												<span class="average_rating">
													5.0 Средняя оценка (200 отзывов)
												</span>
											</span>
										</div>
									</div>
								</div>
								<div class="story__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="btn-link btn-link__orange btn__more-stories">Еще истории</a>
		</div>
		<div class="container">
			<div class="random_stories">
				<div class="row">
					<div class="col-4">
						<div class="story-card">
							<div class="story-card__excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							</div>
							<div class="story-card__more">Читать</div>
							<div class="story-card__user">
								<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
								<span class="user_name">Татьяна</span>
								<span class="services">Фото и видеоуслуги</span>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="story-card">
							<div class="story-card__excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							</div>
							<div class="story-card__more">Читать</div>
							<div class="story-card__user">
								<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
								<span class="user_name">Татьяна</span>
								<span class="services">Фото и видеоуслуги</span>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="story-card">
							<div class="story-card__excerpt">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							</div>
							<div class="story-card__more">Читать</div>
							<div class="story-card__user">
								<img src="img/executor_promo/avatar_large.png" class="avatar" alt="avatar_large"/>
								<span class="user_name">Татьяна</span>
								<span class="services">Фото и видеоуслуги</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>