@import '../base/fonts';
@import '../base/colors';

.wrap-categories {
	padding: 50px 0;

	.category-item {
		padding-bottom: 70px;

		.category_title {
			margin-bottom: 14px;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			color: $fontColorLightGreen;
		}
	}

	.subcategory_list {
		list-style: none;

		.subcategory__link {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 28px;
		}

		.btn_all-items {
			@extend .subcategory__link;
			color: $fontColorLightestGray;
		}
	}
}

@media (min-width: 1160px) {
	.wrap-categories {
		padding: 50px 0 44px 0;

		.container {
			padding-left: 5px;
			max-width: 1170px;
		}

		.category-item {
			padding-bottom: 64px;

			.category_title {
				margin-bottom: 15px;
			}
		}

		.col-3:nth-last-child(-n+4) .category-item {
			padding-bottom: 0;
		}
	}
}

@media (max-width: 767px) {
	.wrap-categories {
		display: none;
	}
}