@import '../absracts/mixins';
@import '../base/colors';

.header {
    height: 80px;
}

.logo {
    margin-left: -15px;
	display: inline-block;
	width: 154px;
    line-height: 80px;

    &__img {
        vertical-align: middle;
    }
}

.nav {
    margin-left: 86px;
    display: inline-block;
    height: 80px;
    line-height: 80px;

    .menu {
        display: inline-block;
        vertical-align: middle;
        list-style: none;

        &_item {
            float: left;

            &__link {
                @include link($fontColorDarkGreen, $fontColorLightGreen);
            }
        }

        &_item:not(:first-child) {
            margin-left: 37px;
        }
    }
}

.auth-buttons {
    margin-right: -15px;
    height: 80px;
    float: right;
    font-size: 14px;

    .wrap-buttons {
        height: 100%;
        display: flex;
        align-items: center;

        .login {
            margin-right: 20px;
        }

        .register {
            @include btn-size(108px, 37px, 4px);
            @include btn-link-outline-color($fontColorDarkGreen, $colorLightGreen);
        }
    }
}

.hamburger {
    margin-right: 6px;
    display: none;
    height: 70px;
    float: right;
    line-height: 70px;

    .hamburger-icon {
        position: relative;
        display: inline-block;
        width: 27px;
        height: 2px;
        border-radius: 2px;
        vertical-align: middle;
        background: $colorBlack;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 27px;
            height: 2px;
            border-radius: 2px;
            background: $colorBlack;
        }

        &::before {
            top: 9px;
        }

        &::after {
            bottom: 9px;
        }
    }
}

@media (min-width: 1160px) {
    .logo {
        margin-left: -15px;
    }

    .nav {
        margin-left: 86px;

        .menu_item:not(:first-child) {
            margin-left: 37px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        height: 70px;
    }

    .logo {
        margin-left: 6px;
        line-height: 70px;
    }

    .nav,
    .auth-buttons {
        display: none;
    }

    .hamburger {
        display: initial;
    }
}