@import '../absracts/mixins';
@import '../base/colors';

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
	display: inline-block;
    width: 154px;
    position: relative;
    line-height: 80px;
}

.header_menu {
    flex-grow: 1;
}

.logo__link {
    display: block;
    height: 100%;
}

.logo__img {
    display: block;
    height: 100%;
    background: url(../img/logo.svg) left / contain no-repeat;
}

.nav {
    margin-left: 86px;
    display: inline-block;
    height: 80px;
    line-height: 80px;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    list-style: none;

}

.hamburger-menu_backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.hamburger-menu_box {
    padding: 0 20px;
    height: 100%;
    width: 320px;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    line-height: initial;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    visibility: hidden;
    background: $colorWhite;

    .auth-buttons {
        padding-top: 20px;
        padding-bottom: 30px;
        height: auto;
        border-bottom: 1px solid $borderColorLightestGray;
        float: none;
    }

    .wrap-buttons {
        justify-content: center;
        line-height: normal;
    }

    .login {
        margin-right: 40px;
    }

    .nav {
        margin-left: 0;
        padding: 20px 0;
        height: auto;
        display: block;
        border-bottom: 1px solid $borderColorLightestGray;
        line-height: normal;
    }

    .menu_item {
        float: none;
        line-height: 24px;
        padding: 9px 0;
    }

    .menu_item:not(:first-child) {
        margin-left: 0;
    }
}

.menu_item {
    float: left;

    &:not(:first-child) {
        margin-left: 37px;
    }
}

.menu_item__link {
    @include link($fontColorDarkGreen, $fontColorLightGreen);
}

.auth-buttons {
    height: 80px;
    float: right;
    font-size: 14px;
}

.wrap-buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

.login {
    margin-right: 20px;
}

.register {
    @include btn-size(108px, 37px, 4px);
    @include btn-link-outline-color($fontColorDarkGreen, $colorLightGreen);
}

.hamburger-menu {
    margin-right: 6px;
    position: relative;
    display: none;
    height: 70px;
    float: right;
    line-height: 70px;
}

#menu__toggle {
    opacity: 0;

    &:checked ~ .hamburger_btn {
        position: fixed;
        right: 26px;
    }

    &:checked ~ .hamburger_btn > .hamburger-icon {
        transform: rotate(45deg);
    }

    &:checked ~ .hamburger_btn > .hamburger-icon::before {
        top: 0;
        transform: rotate(0);
    }

    &:checked ~ .hamburger_btn > .hamburger-icon::after {
        top: 0;
        transform: rotate(90deg);
    }

    &:checked ~ .hamburger-menu_box {
        visibility: visible;
        right: 0;
    }

    &:checked ~ .hamburger-menu_backdrop {
        display: block;
    }
}

.hamburger_btn {
    position: absolute;
    right: 0;
    z-index: 101;
}

.hamburger-icon {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 2px;
    border-radius: 2px;
    vertical-align: middle;
    background: $colorBlack;
    transition-duration: .2s;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 27px;
        height: 2px;
        border-radius: 2px;
        background: $colorBlack;
    }

    &::before {
        top: -9px;
    }

    &::after {
        top: 9px;
    }
}

.hamburger-menu_footer {
    .wrap-footer {
        padding: 20px 0;
        .col-3 {
            padding: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .footer_item,
        .footer_item:not(:last-child) {
            margin-bottom: 0;
        }

        .footer_item {
            line-height: 24px;
            padding: 9px 0;
        }

        .col-3:nth-child(2) .footer_list {
            margin-bottom: 0;
        }

        .services {
            padding-top: 20px;
        }
    }
}

@media (min-width: 1160px) {
    .nav {
        margin-left: 86px;
    }

    .menu_item:not(:first-child) {
        margin-left: 37px;
    }
}

@media (max-width: 991px) {
    .wrap_header > .container {
        max-width: 991px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .header {
        height: 70px;
    }

    .logo {
        margin-left: 6px;
        line-height: 70px;
    }

    .logo__link {
        display: block;
    }

    .header_menu {
        display: none;
    }

    .hamburger-menu {
        display: initial;
    }

    .hamburger-menu_header {
        height: 70px;
        display: flex;
        align-items: center;

        .logo {
            height: 26px;
        }
    }
}