<div class="col-3">
	<ul class="footer_list">
		<li class="footer_item">
			<a href="executor_promo.html" class="default-link footer__link">Как стать исполнителем</a>
		</li>
		<li class="footer_item">
			<a href="#" class="default-link footer__link">Частые вопросы</a>
		</li>
		<li class="footer_item">
			<a href="#" class="default-link footer__link">DeliDela для бизнеса</a>
		</li>
		<li class="footer_item">
			<a href="#" class="default-link footer__link">Наш блог</a>
		</li>
	</ul>
</div>
<div class="col-3">
	<ul class="footer_list">
		<li class="footer_item">
			<a href="#" class="default-link footer__link">Служба поддержки</a>
		</li>
		<li class="footer_item">
			<a href="#" class="default-link footer__link">Контакты</a>
		</li>
		<li class="footer_item">
			<a href="#" class="default-link footer__link">Правила сервиса</a>
		</li>
	</ul>
</div>
<div class="col-3">
	<div class="services">
		<div class="download">
			<a href="#" class="btn_download" target="_blank">
				<img src="img/home/google_play.svg" alt="google_play" class="google_play"/>
			</a>
		</div>
		<div class="social_media">
			<div class="social facebook">
				<a href="#" class="social__link social__link-facebook" target="_blank">
					<img src="img/footer_facebook_icon.svg" alt="facebook"/>
				</a>
			</div>
			<div class="social instagram">
				<a href="#" class="social__link social__link-instagram" target="_blank">
					<img src="img/footer_instagram_icon.svg" alt="instagram"/>
				</a>
			</div>
			<div class="social twitter">
				<a href="#" class="social__link social__link-twitter" target="_blank">
					<img src="img/footer_twitter_icon.svg" alt="twitter"/>
				</a>
			</div>
			<div class="social vk">
				<a href="#" class="social__link social__link-vk" target="_blank">
					<img src="img/footer_vk_icon.svg" alt="vk"/>
				</a>
			</div>
			<div class="social youtube">
				<a href="#" class="social__link social__link-youtube" target="_blank">
					<img src="img/footer_youtube_icon.svg" alt="youtube"/>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="copyright small-screen">© 2019 Delidela</div>