@import '../base/colors';

@mixin main-page-title($color: $fontColorWhite) {
	text-align: center;
	line-height: 96px;
	font-style: normal;
	font-size: 74px;
	font-weight: 500;
	color: $color;
}

@mixin block-title {
	text-align: center;
	line-height: 60px;
	font-style: normal;
	font-size: 48px;
	font-weight: 500;
	color: $fontColorBlack;
}

// цвет кнопки
@mixin btn(
	$btnBgColor: $colorLightGreen,
	$btnBgHover: $hoverColorLightGreen,
	$btnColor: $fontColorWhite
) {
	background: $btnBgColor;
	color: $btnColor;
	transition: all 0.2s;

	&:hover {
		background: $btnBgHover;
	}
}

// размеры кнопок
@mixin btn-size($width, $height, $bRadius: 6px) {
	width: $width;
	height: $height;
	border-radius: $bRadius;
}

// цвет ссылок
@mixin link($linkColor: $fontColorBlack, $hover: $fontColorLightGreen) {
	text-decoration: none;
	color: $linkColor;
	transition: all 0.2s;

	&:hover {
		color: $hover;
	}
}

// цвет контурных кнопок (ссылок)
@mixin btn-link-outline-color($link, $hover) {
	border: 1px solid $link;
	background: $fontColorWhite;
	color: $link;

	&:hover {
		border-color: $hover;
		color: $hover;
	}
}

// миксин для оранжевой кнопки
@mixin btn-link-orange {
	border: 1px solid $colorOrange;
	background: $colorOrange;
	color: $fontColorWhite;

	&:hover {
		border-color: $hoverColorOrange;
		background: $hoverColorOrange;
		color: $fontColorWhite;
	}
}

@mixin placeholder {
    &::-webkit-input-placeholder {
		@content;
	}
    &:-moz-placeholder {
		@content;
	}
    &::-moz-placeholder {
		@content;
	}
    &:-ms-input-placeholder {
		@content;
	}
}


// цвет контурных кнопок
// @mixin btn-link-color($bgColor, $hover) {
// 	border: 1px solid $bgColor;
// 	background: $bgColor;
// 	color: $fontColorWhite;

// 	&:hover {
// 		border-color: $hover;
// 		background: $hover;
// 		color: $fontColorWhite;
// 	}
// }