<div class="wrap-advantages">
	<div class="container">
		<div class="advantages">
			<div class="block-heading">
				<div class="block-title">Основные преимущества DeliDela</div>
			</div>
			<div class="advantage_list">
				<div class="row">
					<div class="col-4">
						<div class="advantage_item">
							<div class="advantage_item__img">
								<img src="img/home/advantages_user_icon.svg" class="advantages_icon" alt="advantage_user"/>
							</div>
							<div class="advantage_item__title">Выгодные цены</div>
							<div class="advantage_item__text">У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</div>
						</div>
					</div>
					<div class="col-4">
						<div class="advantage_item">
							<div class="advantage_item__img">
								<img src="img/home/advantages_user_icon.svg" class="advantages_icon" alt="advantage_user"/>
							</div>
							<div class="advantage_item__title">Выгодные цены</div>
							<div class="advantage_item__text">У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</div>
						</div>
					</div>
					<div class="col-4">
						<div class="advantage_item">
							<div class="advantage_item__img">
								<img src="img/home/advantages_user_icon.svg" class="advantages_icon" alt="advantage_user"/>
							</div>
							<div class="advantage_item__title">Выгодные цены</div>
							<div class="advantage_item__text">У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>