<div class="wrap-banner home">
	<div class="container">
		<div class="banner">
			<div class="banner_content">
				<div class="banner__title">
					Освободим вас <span class="nobr">от забот</span>
				</div>
				<div class="banner__text">
					Поможем найти надежного исполнителя <span class="nobr">для любых задач</span>
				</div>
				<div class="banner_formbox">
					<form action="" method="post" class="banner_form" autocomplete="off">
						<input type="hidden" class="suggestions" />
						<div class="banner_input-block">
							<div class="banner_input">
								<input type="text" class="autocomplete" placeholder="Напишите, чем вам помочь" />
							</div>
							<div class="banner_button">
								<button type="submit" class="banner__search">
									<span class="screen-desktop btn_search_text">Начать поиск</span>
									<span class="screen-mobile btn_search_icon">
										<img src="img/home/banner_search_icon.svg" alt="search_icon">
									</span>
								</button>
							</div>
						</div>
					</form>
					<div class="suggestion_list">
						<div class="suggestion_item">Мастер на час</div>
						<div class="suggestion_item">Мастер на все руки</div>
						<div class="suggestion_item">Мастер на час</div>
						<div class="suggestion_item">Мастер на все руки</div>
						<div class="suggestion_item">Мастер на час</div>
						<div class="suggestion_item">Мастер на все руки</div>
					</div>
					<div class="example">
						Например: <span class="task">Нужно отвезти документы</span>
					</div>
				</div>
			</div>
			<a class="work-executor" href="#">Стать исполнителем и начать зарабатывать</a>
		</div>
	</div>
</div>