<div class="wrap-blog">
	<div class="container">
		<div class="blog">
			<div class="block-heading">
				<div class="block-title">Новые публикации в блоге</div>
			</div>
			<div class="blog_cards">
				<div class="row">
					<div class="col-4">
						<div class="wrap_blog_card">
							<a href="#" class="blog_card">
								<img class="blog_card_img" src="img/home/blog_01.png" alt="blog_01" />
								<span class="blog_card__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</span>
							</a>
						</div>
					</div>
					<div class="col-4">
						<div class="wrap_blog_card">
							<a href="#" class="blog_card">
								<img class="blog_card_img" class="" src="img/home/blog_02.png" alt="blog_02" />
								<span class="blog_card__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</span>
							</a>
						</div>
					</div>
					<div class="col-4">
						<div class="wrap_blog_card">
							<a href="#" class="blog_card">
								<img class="blog_card_img" src="img/home/blog_03.png" alt="blog_03" />
								<span class="blog_card__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog_hero">
				Хотите стать героем наших историй?<br/> Это просто!
				<a href="#" class="blog_post-task">Разместите задание</a> или
				<a href="#" class="blog_work-executor">станьте исполнителем</a>
			</div>
		</div>
	</div>
</div>