<div class="wrap-download">
	<div class="download_bg">
		<div class="container">
			<div class="download">
				<div class="download_desc">
					<div class="block-heading">
						<div class="block-title">Персональный помощник в вашем кармане</div>
					</div>
					<div class="download__text">Скачайте наше приложение и&nbsp;пользуйтесь Delidela, где&nbsp;бы вы&nbsp;ни&nbsp;находились</div>
					<a href="#" class="btn_download" target="_blank">
						<img src="img/home/google_play.svg" alt="google_play" class="google_play"/>
					</a>
				</div>
				<div class="download_img">
					<img src="img/home/download_smartphone.png" class="screen-desktop" alt="smartphone_img" class="download__pic" />
					<img src="img/home/download_smartphone_mobile.png" class="screen-mobile" alt="smartphone_img" class="download__pic" />
				</div>
			</div>
		</div>
	</div>
</div>