<div class="hiw">
	<div class="container">
		<div class="block-heading">
			<div class="block-title">С&nbsp;DeliDela вы&nbsp;экономите на&nbsp;услугах до&nbsp;70% <br/>Как это возможно?</div>
		</div>
	</div>
	<div class="hiw_steps">
		<div class="hiw_step">
			<div class="container">
				<div class="row">
					<div class="col-6 hiw_step_img">
						<img src="img/home/hiw_step_01_img.png" alt="step_01" class="hiw_step_pic"/>
					</div>
					<div class="col-6 hiw_step_desc">
						<div class="hiw_step__num-title">Шаг1</div>
						<div class="hiw_step__title">Создайте задание</div>
						<p class="hiw_step__text">Опишите своими словами задачу,<br/>которую требуется выполнить</p>
						<a href="#" class="btn-link btn-link__orange btn__create-task">Создать задание</a>
					</div>
				</div>
			</div>
		</div>
		<div class="hiw_step">
			<div class="container">
				<div class="row">
					<div class="col-6 hiw_step_img">
						<img src="img/home/hiw_step_02_img.png" alt="step_02" class="hiw_step_pic"/>
					</div>
					<div class="col-6 hiw_step_desc">
						<div class="hiw_step__num-title">Шаг2</div>
						<div class="hiw_step__title">Исполнители предложат&nbsp;вам свои <br/>услуги и цены</div>
						<p class="hiw_step__text">Уже через пару минут вы начнете получать предложения от исполнителей, готовых выполнить ваше задание</p>
					</div>
				</div>
			</div>
		</div>
		<div class="hiw_step">
			<div class="container">
				<div class="row">
					<div class="col-6 hiw_step_img">
						<img src="img/home/hiw_step_03_img.png" alt="step_03" class="hiw_step_pic"/>
					</div>
					<div class="col-6 hiw_step_desc">
						<div class="hiw_step__num-title">Шаг3</div>
						<div class="hiw_step__title">Выберите лучшее предложение</div>
						<p class="hiw_step__text">Вы сможете выбрать подходящего исполнителя, по разным критериям:</p>
						<div class="hiw_step_criterias">
							<div class="row">
								<div class="col-6">
									<div class="criteria">
										<img src="img/home/criteria_price.svg" class="criteria_icon" alt="criteria_price">
										<span class="criterias__price">Стоимость услуг</span>
									</div>
									<div class="criteria">
										<img src="img/home/criteria_review.svg" class="criteria_icon" alt="criteria_reviews">
										<span class="criterias__reviews">Отзывы заказчиков</span>
									</div>
								</div>
								<div class="col-6">
									<div class="criteria">
										<img src="img/home/criteria_rating.svg" class="criteria_icon" alt="criteria__rating">
										<span class="criterias__rating">Рейтинг</span>
									</div>
									<div class="criteria">
										<img src="img/home/criteria_portfolio.svg" class="criteria_icon" alt="criteria_portfolio">
										<span class="criterias__portfolio">Примеры работ</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrap_hiw_actions">
	<div class="container">
		<div class="hiw_actions">
			<a href="#" class="btn-link btn-link__orange btn__post-task">Разместить задание прямо сейчас</a>
			<span class="hiw_actions__text">и найдите исполнителя за несколько минут</span>
		</div>
	</div>
</div>