<div class="wrap_popular-categories">
	<div class="container">
		<div class="popular-categories">
			<div class="block-heading">
				<div class="block-title">Lorem ipsum dolor sit amet, consectetur</div>
				<span class="subtitle">Lorem ipsum dolor sit amet, consectetur</span>
			</div>
			<div class="categories">
				<div class="category-list">
					<div class="row">
						<div class="col-4">
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_online_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Онлайн услуги</span>
							</a>
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_events_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">События и праздники</span>
							</a>
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_household_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Бытовая помощь</span>
							</a>
						</div>
						<div class="col-4">
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_legal_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Юридическая помощь</span>
							</a>
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_transport_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Транспорт</span>
							</a>
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_courier_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Курьерские услуги</span>
							</a>
						</div>
						<div class="col-4">
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_promo_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Промоакции</span class="category-item__text">
							</a>
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_health_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Красота и здоровье</span>
							</a>
							<a class="category-item btn-link" href="#">
								<img src="img/home/popular-category_repairs_icon.svg" class="category-item__img" alt="category_online">
								<span class="category-item__text">Домашний ремонт</span>
							</a>
						</div>
					</div>
				</div>
				<div class="wrap-btn">
					<a href="#" class="btn-link btn_all-categories">Все категории</a>
				</div>
			</div>
		</div>
	</div>
</div>