<div class="wrap-stream-tasks">
	<div class="container">
		<div class="stream-tasks">
			<div class="stream">
				<div class="block-heading">
					<div class="block-title">Что заказывают на DeliDela прямо сейчас</div>
				</div>
				<div class="task-list">
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_car_icon.svg" class="task__icon" alt="car_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Перевезти вещи</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">500 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_holiday_icon.svg" class="task__icon" alt="holiday_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Lorem ipsum dolor sit, amet consectetur adipisicing</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">10 000 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_car_icon.svg" class="task__icon" alt="car_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Перевезти вещи</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">500 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_holiday_icon.svg" class="task__icon" alt="holiday_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Lorem ipsum dolor sit, amet consectetur adipisicing</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">10 000 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_car_icon.svg" class="task__icon" alt="car_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Перевезти вещи</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">500 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_holiday_icon.svg" class="task__icon" alt="holiday_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Lorem ipsum dolor sit, amet consectetur adipisicing</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">10 000 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_car_icon.svg" class="task__icon" alt="car_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Перевезти вещи</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">500 ₽</div>
					</div>
					<div class="task-item">
						<div class="task_img">
							<img src="img/home/tasks_holiday_icon.svg" class="task__icon" alt="holiday_icon"/>
						</div>
						<div class="task_desc">
							<div class="task__title">Lorem ipsum dolor sit, amet consectetur adipisicing</div>
							<div class="task__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
						</div>
						<div class="task__price">10 000 ₽</div>
					</div>
				</div>
				<div class="task-button">
					<a href="#" class="btn-link btn-link__orange btn_all-tasks">Показать все задания</a>
				</div>
			</div>
			<div class="wrap-helpers">
				<div class="helper">
					<a href="#" class="helper_item helper_executor">
						<span class="helper_executor_img">
							<img src="img/home/tasks_executors_img.png" class="screen-desktop" alt="tasks_executors">
							<img src="img/home/tasks_executors_mobile.png" class="screen-mobile" alt="tasks_executors">
						</span>
						<span class="helper_item_text">
							<span class="helper_executor__title">Как стать исполнителем</span>
							<span class="helper_executor__more-info">Подробнее</span>
						</span>
					</a>
					<a href="#" class="helper_item helper_security">
						<span class="helper_executor_img">
							<img src="img/home/tasks_security.png" class="screen-desktop" alt="tasks_executors">
							<img src="img/home/tasks_security_mobile.png" class="screen-mobile" alt="tasks_executors">
						</span>
						<span class="helper_item_text">
							<span class="helper_security__title">Безопасность и гарантии</span>
							<span class="helper_security__more-info">Подробнее</span>
						</span>
					</a>
					<a href="#" class="helper_item helper_executor">
						<span class="helper_executor_img">
							<img src="img/home/tasks_b2b.png" class="screen-desktop" alt="tasks_executors">
							<img src="img/home/tasks_b2b_mobile.png" class="screen-mobile" alt="tasks_executors">
						</span>
						<span class="helper_item_text">
							<span class="helper_b2b__title">Надежные исполнители для&nbsp;бизнеса</span>
							<span class="helper_b2b__more-info">Подробнее</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>